# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs
*.log
logs/*.log

# 2. Add it to .gitignore so you don't re-add it by accident
echo "data/truestate_assignment_dataset.csv" >> .gitignore
# Output folders
dist/
build/

# Coverage
coverage/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Lockfiles (optional)
package-lock.json
pnpm-lock.yaml
yarn.lock

# Other cache folders
.cache/
data/
